# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/

# Docker
docker-compose.override.yml

# Environment
.env

# Data
data/voice_cache/*

# Models
voice/whisper.cpp/models/*.bin
voice/piper/voices/*.onnx

# Build artifacts
*.egg-info/
.eggs/
dist/
build/

# Logs
*.log